footer
{
    width: 90%;
}
/* accordion */
.accordion>.view>.for_ios>.header>.arrow
{
    top: 10px;
}
    .accordion>.view>input.toggle:checked+.for_ios>.header>.arrow
    {
        top: 12px;
    }
